body > h1{
    background-color: rgb(115, 0, 255);
    color: white;
    text-align: center;
}

body > section p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin: 5%;
}

div > button{
    margin: auto;
    display: block;
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: dashed;
    background-color: gold;
}