<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Order List - {{ title }}</title>
</head>
<body>
    <h1>Todays Orders</h1>
    {% for order in all_orders %}
    <section>
        <p>
            <a href="/orders/{{all_orders.index(order)}}">{{order.customer_name}} :</a>
            <b>Date : {{ order.order_date }}</b>  
             <b>Copies : {{ order.quantity }}</b>  
             <b>Movie : {{ order.movie_name }}</b> 
              <b>Synopsis : {{ order.description }}</b>

        </p>
    </section>
    {% endfor %} 

<footer>
    <h2>Johnny's Movies</h2>
</footer> 
</body>
</html>